<!-- basket.html -->

{% extends "base.html" %}
{% block content %}

<br/>
<h1>Basket:</h1>
<br/>
{% if rows > 0 %}
{% for book in books %}
    <div class="row border border-secondary rounded p-3">
        <img class="col-2" src="{{ url_for('static', filename=book.photo) }}">
        <div class="col-3">
            <h3>{{ book.title }}</h3>
            <p>By {{ book.author }}</p>
            <p><strong>Category:</strong> {{ book.category }}</p>
            <p>In stock: {{ book.stock }}</p>
        </div>
        <div class="col-3">
            <h4><strong>Price per unit:</strong> £{{ book.price }}</h4>
            {% for user_order in user_orders %}
                {% if user_order.bookId == book.id %}
                    {% if user_order.quantity > 1 %}
                        <h4><strong>Total price for {{ user_order.quantity}} items:</strong> 
                        £{{ '%0.2f' % (book.price * user_order.quantity) }}</h4>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-3">
            <div class="row">
                <h2 class="col-2 m-2">Qty:</h2>
                <div class="col-1 m-2">
                    <form action="" method="post" name="minus">
                        {{ form.id(value=book.id, hidden=True) }}
                        {{ form.action(value='minus', hidden=True) }}
                        <input type="submit" class="btn border-secondary" value="-">
                    </form>
                </div>
                {% for user_order in user_orders %}
                    {% if user_order.bookId == book.id %}
                        <div class="col-1 m-2">
                            <h2>{{ user_order.quantity }}</h2>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="col-2 m-2">
                    <form action="" method="post" name="plus">
                        {{ form.id(value=book.id, hidden=True) }}
                        {{ form.action(value='plus', hidden=True) }}
                        <input type="submit" class="btn border-secondary" value="+">
                    </form>
                </div>
                <div class="col-1 m-2">
                    <form action="" method="post" name="remove all">
                        {{ form.id(value=book.id, hidden=True) }}
                        {{ form.action(value='remove', hidden=True) }}
                        <input type="submit" class="btn btn-danger" value="Remove all!">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br/>
{% endfor %}
<div class="row border border-secondary"></div>
<br>
<div class="col p-3 border border-secondary rounded" onmouseover="getLocation()">
    <div class="row">
        <h2 class="col-4">Sub-total: £{{ total }}</h2>
        <button class="col-7 btn btn-outline-secondary" onclick="writeDistanceToCompany()">Delivery</button>
    </div>
    <br>
    <div id="distance"></div>
    <div id="fin" style="display: none;">
        <div class="row border border-secondary"></div><br>
        <p class="text-danger">Payment can only be done via reimbursment when the package is delivered!!!</p>
        <h2>Transport: £2.00</h2>
        <h2>Total: £{{ '%0.2f' % (total + 2.00) }}</h2>
        <form action="" method="post" name="remove all">
            {{ form.action(value='finalise', hidden=True) }}
            <input type="submit" class="btn w-100 btn-success" value="Finalise order!">
        </form>
    </div>
</div>
<br>
<br>
{% else %}
    <h4>Your basket is empty!</h4>
{% endif %}
{% endblock %}
