<!-- category.html -->

{% extends "base.html" %}
{% block content %}

<br/>
<h1 class="text-center">{{ name }}</h1>
<br/>
{% if rows > 0 %}
    <div class="row">
        {% for book in books %}
            <div class="col-lg-4 p-4 mb-4">
                <div class="card-deck h-100">
                    <img class="col-lg-6 card p-0 mr-0" src="{{ url_for('static', filename=book.photo) }}">
                    <div class="col-lg-6 card p-0 ml-0">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">By {{ book.author }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Category:</strong> {{ book.category }}</li>
                            <li class="list-group-item"><strong>Price:</strong> £{{ book.price }}</li>
                        </ul>
                    </div>
                </div>
                <div class="w-100">
                    {% if current_user.is_authenticated %}
                        {% if book.stock > 0 %}
                            <form action="" method="post" name="add_btn">
                                {{ form.id(value=book.id, hidden=True) }}
                                <input type="submit" class="align-bottom w-100 btn btn-success" value="Add to Basket!">
                            </form>
                        {% else %}
                            <button type="button" class="align-bottom w-100 btn btn btn-danger" disabled>
                                Out of stock!</button>
                        {% endif %}
                    {% else %}
                        <a href="/login" class="align-bottom w-100 btn btn-primary">Login to buy</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
<h4>There are no books added!</h4>
{% endif %}
{% endblock %}
