<!-- category.html -->

{% extends "base.html" %}
{% block content %}

<br/>
<h1 class="text-center">{{ name }}</h1>
<br/>
{% if rows > 0 %}
    <div class="row">
        {% for book in books %}
            <div class="col-3 border border-secondary rounded p-3">
                <div class="row">
                    <img class="col-6 h-50" src="{{ url_for('static', filename=book.photo) }}">
                    <div class="col-4">
                        <h3>{{ book.title }}</h3>
                        <p>By {{ book.author }}</p>
                        <p><strong>Category:</strong> {{ book.category }}</p>
                        <p><strong>Price:</strong> £{{ book.price }}</p>
                    </div>
                </div>
                    {% if current_user.is_authenticated %}
                    {% if book.stock > 0 %}
                    <div class="col p-0 text-center">
                        <form action="" method="post" name="add_btn">
                            {{ form.id(value=book.id, hidden=True) }}
                            <input type="submit" class="align-bottom w-100 btn btn-success" value="Add to Basket!">
                        </form>
                    </div>
                    {% else %}
                    <div class="col">
                        <p class="text-danger">Out of stock!</p>
                    </div>
                    {% endif %}
                    {% else %}
                    <a href="/login" class="align-bottom w-100 btn btn-primary">Login to buy</a>
                    {% endif %}
                <br/>
            </div>
        {% endfor %}
    </div>
{% else %}
<h4>There are no books added!</h4>
{% endif %}
{% endblock %}
