<!-- home.html -->

{% extends "base.html" %}
{% block content %}

<br/>
<h1 class="text-center">Welcome to BookStore!</h1>
<br/>
{% if rows > 0 %}
<div class="row">
    {% for genre in categories %}
    <!-- <br/>
        <h1>{{ genre }}</h1>
        <br/> -->
<div class="card m-4" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ genre }}
            {% set counter = 0 %}
            {% for book in books %}
                {% if book.genre == genre %}
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}
            {{ counter }}
        </h5>
        <a href="/genre" class="btn btn-primary">Browse genre</a>
    </div>
</div>
<div class="row">
    {% for book in books %}
    {% if book.genre == genre %}
    <div class="col-2 border border-secondary rounded p-3 m-2">
                <img class="col h-60" src="{{ url_for('static', filename=book.photo) }}">
                <div class="col h-40">
                    <h3>{{ book.title }}</h3>
                    <p>By {{ book.author }}</p>
                    <p><strong>Genre:</strong> {{ book.genre }}</p>
                    <p><strong>Price:</strong> £{{ book.price }}</p>
                </div>
                {% if current_user.is_authenticated %}
                {% if book.stock > 0 %}
                        <div class="col text-center">
                            <form action="" method="post" name="add_btn">
                                {{ form.id(value=book.id, hidden=True) }}
                                <input type="submit" class="btn btn-success" value="Add to Basket!">
                            </form>
                        </div>
                        {% else %}
                        <div class="col">
                            <p class="text-danger">Out of stock!</p>
                        </div>
                        {% endif %}
                {% endif %}
            </div>
            <br/>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% else %}
<h4>There are no books added!</h4>
{% endif %}
{% endblock %}
