<!-- home.html -->

{% extends "base.html" %}
{% block content %}

<br/>
<h1>Welcome to BookStore!</h1>
<br/>
{% if rows > 0 %}
{% for book in books %}
    <div class="col-2 border border-danger rounded p-3">
        <img class="col-md" src="{{ url_for('static', filename=book.photo) }}">
        <div class="col">
            <h3>{{ book.title }}</h3>
        </div>
        <div class="col">
            <p>By {{ book.author }}</p>
        </div>
        <div class="col">
            <a><strong>Price:</strong> £{{ book.price }}</a>
        </div>
        {% if current_user.is_authenticated %}
        <div class="col">
            <form action="" method="post" name="add_btn">
                {{ form.id(value=book.id, hidden=True) }}
                <input type="submit" class="btn btn-success" value="Add to Basket!">
            </form>
        </div>
        {% endif %}
    </div>
    <br/>
{% endfor %}
{% else %}
    <h4>There are no books added!</h4>
{% endif %}
{% endblock %}
