<!-- login.html -->

{% extends "base.html" %}
{% block content %}
<br/>
<br/>
<h1 class="row justify-content-md-center">Login</h1>
<br/>
<div class="row">
    <div class="col-4"></div>
    <div class="border rounded border-primary p-5 col-lg-4">
        <form action="/login" method="post" name="login">
            {{ form.hidden_tag() }}
            {% if em_error %}
                <div class="alert alert-danger row" role="alert">
                    {{ em_error }}
                </div>
            {% endif %}
            {% if pw_error %}
                <div class="alert alert-danger row" role="alert">
                    {{ pw_error }}
                </div>
            {% endif %}
            <div class="row"><h4>Email: </h4></div>
            <div class="row">
                {{ form.email(class_='form-control', placeholder='Enter your email') }}
            </div>
            <br/>
            <div class="row"><h4>Password: </h4></div>
            <div class="row">
                {{ form.password(class_='form-control', placeholder='Enter your password') }}
            </div>
            <br/>
            <div class= "row">
                <input type="submit" class="btn btn-primary col" value="Login">
            </div>
        </form>
        <br/>
        <div class="row">
            <h5>Don't have an account? Click <a href="/signup">here</a> to create one!</h5>
        </div>
    </div>
</div>
{% endblock %}
