<!-- add_movie.html -->

{% extends "base.html" %}
{% block content %}
<br/>
<h1 class="row justify-content-md-center">Add Movie</h1>
<br/>
<div class="row">
    <div class="col-4"></div>
    <div class="border rounded border-primary p-5 col-4">
        <form action="/add_movie" method="post" name="signup">
            {{ form.hidden_tag() }}
            <div class="row"><h4>Title: </h4></div>
            <div class="row">
                {{ form.title(class_='form-control', placeholder='Enter the movie\'s title') }}
            </div>
            <br/>
            <div class="row"><h4>Photo: </h4></div>
            <div class="row">
                {{ form.photo(class_='form-control', placeholder='Enter the name of the photo file (ex: photo.jpg)') }}
            </div>
            <br/>
            <div class="row"><h4>Year: </h4></div>
            <div class="row">
                {{ form.year(class_='form-control', placeholder='Enter the release year of the movie') }}
            </div>
            {% for error in form.year.errors %}
                <div class="alert alert-danger row" role="alert">
                    Please enter a number for the year!
                </div>
            {% endfor %}
            <br/>
            <div class="row"><h4>Description: </h4></div>
            <div class="row">
                {{ form.description(class_='form-control', rows='10', placeholder='Enter a description about the movie') }}
            </div>
            <br/>
            <div class= "row">
                <input type="submit" class="btn btn-primary col" value="Add movie">
            </div>
        </form>
    </div>
</div>
{% endblock %}
