{% extends "base.html" %}
{% block content %}
<br/>
<h1 class="row justify-content-md-center">Create Assessment</h1>
<br/>
<div class="border rounded border-primary p-5">
  <form action="/create_assessment" method="post" name="assessments">
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-2"><h4>Title: </h4></div>
      <div class="col">
        {{ form.title(class_='form-control', placeholder='Title of the assessment') }}
      </div>
    </div>
    {% for error in form.title.errors %}
    <div class="row">
      <div class="col-2"></div>
      <div class="alert alert-danger col-10" role="alert">
          [{{ error }}]
        </div>
      </div>
      {% endfor %}
      <br/>
      <div class="row">
        <div class="col-2"><h4>Module code: </h4></div>
      <div class="col">
        {{ form.module_code(class_='form-control', placeholder='Module code of the assessment\'s module') }}
      </div>
    </div>
    {% for error in form.module_code.errors %}
      <div class="row">
        <div class="col-2"></div>
        <div class="alert alert-danger col-10" role="alert">
          [{{ error }}]
        </div>
      </div>
      {% endfor %}
      <br/>
      <div class="row">
      <div class="col-2"><h4>Deadline: </h4></div>
      <div class="col">
        {{ form.deadline(class_='form-control', placeholder='format: dd-mm-YYYY') }}
      </div>
    </div>
      {% for error in form.deadline.errors %}
      <div class="row">
        <div class="col-2"></div>
        <div class="alert alert-danger col-10" role="alert">
          Please use the date format "dd-mm-YYYY"!
        </div>
      </div>
      {% endfor %}
      <br/>
      <div class="row">
        <div class="col-2"><h4>Description: </h4></div>
      <div class="col">
        {{ form.description(class_='form-control', rows='10', placeholder='Description of the assessment') }}
      </div>
    </div>
      {% for error in form.description.errors %}
      <div class="row">
        <div class="col-2"></div>
        <div class="alert alert-danger col-10" role="alert">
          [{{ error }}]
        </div>
      </div>
      {% endfor %}
      <br/>
    <div class="row">
      <div class="col-2"></div>
      <div class= "col">
        <input type="submit" class="btn btn-primary" value="Create Assessment">
      </div>
    </div>
  </form>
</div>
{% endblock %}