{% extends "base.html" %}
{% block content %}
<br/>
<h1>Uncompleted Assessments</h1>
<br/>
{% if rows > 0 %}
{% for assessment in assessments %}
    <div class="row border border-primary rounded p-3">
        <div class="col-2">
            <h3>{{ assessment.title }}</h3>
            <a>Module Code: {{ assessment.module_code }}</a><br/>
            <a>Deadline: {{ assessment.deadline }}</a>
        </div>
        <div class="col-1"></div>
        <div class="col-6">
            <a>Description:<br/> {{ assessment.description }}</a>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
            <a>Status: Uncompleted!</a>
            <br/><br/>
            <!-- hidden form for the Mark as Completed button to retrieve info -->
            <form action="" method="post" name="completed_btn">
                {{ form1.id(value=assessment.id, hidden=True) }}
                {{ form1.type(value='uncompleted', hidden=True) }}
                <input type="submit" class="btn btn-success" value="Mark as Completed">
            </form>
            <br/>
            <!-- hidden form for the Delete button to retrieve info -->
            <form action="" method="post" name="delete_btn">
                {{ form2.id(value=assessment.id, hidden=True) }}
                {{ form2.type(value='delete', hidden=True) }}
                <input type="submit" class="btn btn-danger" value="Delete Assessment">
            </form>
        </div>
    </div>
    <br/>
{% endfor %}
{% else %}
    <!-- if there are no uncompleted assingments, display the following message -->
    <h4>There are no uncompleted assessments</h4>
{% endif %}
{% endblock %}
